#ukko {
	float: left;
	width: 33%;
}

#sliders {
	float: left;
	width: 33%;
}

#kartta {
	float: left;
	width: 50%;
}

#results {
	float: left;
	width: 30%;
	padding-left: 20px;
}

#vibrations {
	float: left;
	width: 33%;
}

.wrapper {
	width: 50%;
}