#ukko {
	width: 100%;
}

#sliders {
	margin: 20px 0;
}

input {
	width: 100%;
}

#kartta {
	float: left;
	width: 50%;
}

#results {
	width: 30%;
	padding-left: 20px;
}

#vibrations {
	width: 50%;
	float: left;
	height: 560px;
}

#vibrations img {
	width: 90%;
}

.sliderwrapper {
	width: 50%;
	float: right;
}

.maincontent {
	width: 1000px;
	margin: 0 auto;
}